@tailwind base;
@tailwind components;
@tailwind utilities;


#logo{
  width: 60px;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* register */
/* Example CSS */

.valid {
  color: green; /* or any other style */
}

.invalid {
  color: red; /* or any other style */
}

.hidden {
  display: none;
}

.instructions {
  color: blue; /* or any other style */
}

.offscreen {
  position: absolute;
  left: -9999px;
}
