@tailwind base;
@tailwind components;
@tailwind utilities;


#logo{
  width: 50px;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* register */
/* Example CSS */

.valid {
  color: green; /* or any other style */
}

.invalid {
  color: red; /* or any other style */
}

.hidden {
  display: none;
}

.instructions {
  color: blue; /* or any other style */
}

.offscreen {
  position: absolute;
  left: -9999px;
}


.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.custom-border {
  border: 0.5px solid var(--border-color);
}



/* admin banner */

/* styles.css */

select option[value="show"] {
  background-color: #d4edda; /* Màu nền xanh lá nhạt */
  color: #155724; /* Màu chữ xanh lá */
}

select option[value="hide"] {
  background-color: #f8d7da; /* Màu nền đỏ nhạt */
  color: #721c24; /* Màu chữ đỏ */
}
